* {
	padding: 0;
	margin: 0;
	color: #f6ae2d;
}

body {
	height: 100%;
	text-align: center;
	background-color: #2f4858;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
}
.heading{
	margin-bottom: 2vmin;
	font-size: 10vmin;
}
.container {
	height: 80vh;
	margin-top: 5vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.game {
	height: 70vmin;
	width: 70vmin;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.5vmin;
}
.box {
	height: 20vmin;
	width: 20vmin;
	background-color: #86bbd8;
	border: none;
	border-radius: 10%;
	font-size: 10vmin;
	color: #f26419;
	cursor: pointer;
	box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
}

.reset {
	margin: 2.5rem;
	padding-top: 0.2rem;
	font-size: 4vmin;
	border-radius: 1rem;
	border: none;
	width: 18vmin;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: #f26419;
	background-color: #86bbd8;
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

#new {
	font-size: 7vmin;
	border-radius: 1rem;
	border: none;
	height: 20vmin;
	width: 40vmin;
	text-align: center;
	font-weight: bold;
	color: #f26419;
	cursor: pointer;
	background-color: #86bbd8;
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.4);
}
.msg_Cointainer {
	height: 100vmin;
	padding: 20vmin;
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
	padding-bottom: 1rem;
}

.msg_Cointainer.show {
	opacity: 1;
	pointer-events: all;
}
#msg {
	font-size: 10vmin;
	margin-bottom: 10vmin;
	font-weight: bold;
	text-shadow: 0 0 1rem #f26419, 0 0 2rem #f6ae2d;
	color: #f6ae2d;
	animation: pulse 1s ease-in-out infinite;
}

.hide {
	display: none;
}

/* animation code */

.box:hover:enabled {
	transform: scale(1.05);
	background-color: #a7d3e3;
	transition: all 0.2s ease;
}

.reset:hover,
#new:hover {
	background-color: #a7d3e3;
	box-shadow: 0 0 10px #f26419;
	transform: scale(1.05);
	transition: all 0.3s ease;
}
.box.clicked {
	animation: pop 0.3s ease;
}

@keyframes pop {
	0% {
		transform: scale(0.6);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
